{{ block "base" . }}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/pico.css" rel="stylesheet">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    </head>
    <body>
        <main class="container">
            <h1>Ma liste de vœux !</h1>
            {{ block "content" . }} Nothing to see here. {{ end }}
        </main>
    </body>
</html>
{{ end }}
