{{/* base: base.html */}}
{{ define "content" }}
<h2>
    {{ .Name }}
    {{ if .AdminID }} (<a href="/l/{{ .ID }}/{{ .AdminID }}/edit">éditer</a>){{ end }}
</h2>

{{ if .GroupID }}
  Cette liste fait partie d'un <a href="https://www.malistedevoeux.fr/g/{{ .GroupID }}">groupe</a>.
{{ end }}

{{ if .AdminID }}
    <article>
        <div>Lien à partager : <a href="https://malistedevoeux.fr/l/{{ .ID }}">https://malistedevoeux.fr/l/{{ .ID }}</a></div>
        <div>Lien d'aministration : <a href="https://malistedevoeux.fr/l/{{ .ID }}/{{ .AdminID }}">https://malistedevoeux.fr/l/{{ .ID }}/{{ .AdminID }}</a></div>
    </article>
{{ end }}

<ul>
    {{ range .Elements }}
        <li>
            {{ .Name }}
            {{ if .Description }} : {{ .Description }}{{ end }}
            {{ if .URL }} (<a href='{{ .URL }}'>lien</a>){{ end }}
        </li>
    {{ end }}
</ul>
{{ end }}
