{{ define "content" }}
<div x-data="{ group: false }">
  <h2 x-show="!group">Créer une liste de vœux</h2>
  <h2 x-show="group">Créer un groupe</h2>
  <form method="POST">
    <fieldset>
      <label>
        Nom d'utilisateur
        <input type="text" name="user" id="user" />
      </label>
      <label>
        Nom de la liste
        <input type="text" name="name" id="name" />
      </label>
      <label>
        Addresse email (optionnel). Cela permet de recevoir le lien de la liste de vœux par email et de la retrouver si vous l'avez perdue.
        <input type="text" name="email" id="email" />
      </label>

      <!--
      <label>
        Créer un groupe
        <input type="checkbox" name="group" id="group" x-model="group" />
      </label>
      <small>
        Cochez cette case si vous voulez créer un groupe dans lequel tous les partipipants pourront créer leur liste de vœux et voir celle des autres.
        Ne la cochez pas si vous voulez créer une seule liste de vœux pour vous-même.
      </small>
    -->
    </fieldset>

    <input type="submit" value="Créer" />  
  </form>
</div>
{{ end }}
