{{/* base: base.html */}}
{{ define "content" }}
<div>
  <h2>Créer une liste de vœux</h2>
  <form method="POST">
    <fieldset>
      <label>
        Nom d'utilisateur
        <input type="text" name="user" id="user" />
      </label>
      <label>
        Nom de la liste
        <input type="text" name="name" id="name" />
      </label>
      <label>
        Addresse email (optionnel). Cela permet de recevoir le lien de la liste de vœux par email et de la retrouver si vous l'avez perdue.
        <input type="text" name="email" id="email" />
      </label>
    </fieldset>

    <input type="submit" value="Créer" />  
  </form>
</div>
{{ end }}
